@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search-section {
  max-width: 1500px;
}

.search-input {
  width: 100%;
  height: 100%;
  border-left: 1px solid #e2e8f0;
  outline: #e2e8f0;
  caret-color: transparent;
}

.search-btn-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding-top: 2px;
}

.search-guests {
  top: 100%;
}

.search-btn-submit:hover,
.search-btn-circle:hover {
  background-color: rgb(181, 142, 78);
  transition: all 0.3s ease-in-out;
}

.react-datepicker-wrapper {
  width: 50%;
  height: 100%;
}

.react-datepicker__input-container {
  width: 100%;
  height: 100%;
}

.offer-icon {
  top: 7px;
}
.offer-text {
  color: rgba(255, 255, 255, 0.6);
}
.offer-photo {
  width: 818px;
  height: 800px;
}

.discounts-photo {
  height: 761px;
}

.contacts-block {
  max-width: 760px;
}

.contacts-map {
  width: calc(760px + 3rem);
}

header {
  height: 120px;
}

.px-13 {
  padding-left: 50px;
  padding-right: 50px;
}
