@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

.offer-icon {
  top: 7px;
}
.offer-text {
  color: rgba(255, 255, 255, 0.6);
}
.offer-photo {
  width: 818px;
  height: 800px;
}

.discounts-photo {
  height: 761px;
}

.contacts-block {
  max-width: 760px;
}

.contacts-map {
  width: calc(760px + 3rem);
}

header {
  height: 120px;
}
