.SectionBg {
  width: 100vw;
  height: 620px;
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.SectionBg h1 {
    font-size: 54px;
    line-height: 56px;
}