.section{
    max-width: 1280px;
    min-height: 683px;
    margin-top: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}
.contain {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    /* position: relative; */
}
 .contacts {
    padding-top: 50px;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.wp-contact {
    display: flex;
    justify-content: space-between;
}

.map {
    width: 50%;

}

.promo-product {
    margin-top: 50px;
}

.promo-img1 {
    width: 683px;
    height: 683px;
    display: inline-block;
    float: left;
}

.promo-img2 {
    width: 683px;
    height: 683px;
    display: inline-block;
}

.promo-text {
    width: 256px;
  
}

.promo-exclusive {
    color: #1e88e5;
  
}

.mappa{
    src: url("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.9390230746235!2d30.36358521609682!3d59.93315398187421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bcc705a6bf%3A0xf7626fff5bfe0d1!2zMi3RjyDQodC-0LLQtdGC0YHQutCw0Y8g0YPQuy4sIDTQsSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINCg0L7RgdGB0LjRjywgMTkxMDM2!5e0!3m2!1sru!2sua!4v1605202475687!5m2!1sru!2sua");
    border: 0;
    width:600px;
    height:450px;
}