.bistro{
    width: 610px;
    height: 312px;
    background-image: url(../img/bistro.jpg);
}

.parking{
    width: 610px;
    height: 312px;
    background-image: url(../img/parking.jpg);
}

.textGray{
    color: rgba(57,57,55,.6);
}

.business-client{
    min-height: 500px;
    background-image: url(../img/businessclients.jpg);
}

.btn-linicon{
display: inline;
}

.btn:hover{
    color: #ca9d56;
}

.icon_marker{
    color: #ca9d56;
}

.icon_marker:hover{
    color:#000;
}